.header_container{
  width: 100%;
}
.header_text{
  text-align: center;
  font-family: 'Cute Font','Roboto',sans-serif;
  font-size:50px;
  color:white;
  font-weight:300;
  margin:10px 0
}
body{
  background:black;
  height: 100%;
  overflow-x:hidden;
  font-family: 'Cute Font','Roboto',sans-serif;
  font-size:50px;
  color:white;
  font-weight:300;
}
.intro_section{
  color:white;
  text-align: center;
  font-family: 'Squada One', sans-serif;
  font-weight:300;
  left:50%;
  top:42%;
  transform: translate(-50%, -50%);
  position: absolute;
  width:100%
}
.intro_main_text{
  font-size:60px;
  margin-bottom:10px;
}
.intro_sub_text{
  font-size:45px;
  margin:0;
  color: #7B7B7B;
  letter-spacing: 0.07em;

}
.scroll_arrow{
  padding:10px 20px;
}
.controller_effect{
  position: absolute;
}
.controller_effect:nth-child(1){
  left: 65%;
}
.controller_effect:nth-child(2){
  right:65%;
  top:35%;
}
.controller_effect:nth-child(3){
  left: 40%;
  top:80%;
}
.controller_effect:nth-child(4){
  left: -10%;
  top:140%;
}
.games_section{
  color:white;
  scrollOverflow:true;
  position: absolute;
  font-family: 'cute font', 'Roboto',sans-serif;
  width:95%;
  min-height:100vh;
  
}
.games_heading{
  font-size: 70px;
  margin-left:10%;
  margin-bottom:0px;
}
.games_desc{
  font-size: 45px;
  color:gray;
  margin-left:10%;
  max-width:50%;
  min-width:280px;
  line-height:29px;
  margin-top:0;
}
.games_pacman_text{
  color: #FAFF00;
  
}
.games_pacman{
  background: rgba(255, 230, 0, 0.31);
  
 
}
.games_list{
  max-width:40%;
  float:right;
  margin-right:5%;
  min-width:250px;
  width:100%;
  min-height:90vh;
}
.games-breakout{
  background: rgba(60, 74, 55, 0.66)
}
.games_breakout_text{
  color: #2EAF00;
  
}
.games_text{
  font-size:50px;
  display: inline-block;
  padding-left:20px;
}
.games_breakout{
  background: rgba(60, 74, 55, 0.66);
  margin-top:20px;
  
  
}
.games_icon{
  max-width:100px;
  display: inline-block;
  text-align:center;
}
.games_icon_container{
    display: inline-block;
    vertical-align: middle;
    text-align:center;
}
@media (max-width: 800px){
  .games_breakout, .games_pacman{
    text-align:center;
  }
}
.games_container{
  padding: 30px 30px;
  border-radius: 10px;

  padding-left:10%

}
@media (max-width: 600px){
  .games_list{
    max-width:70%;
    
  }
  .games_text{
    font-size:40px;
  }
  .games_heading, contact_text{
    font-size:60px;
  }
  .games_desc{
    font-size:35px;
  }

}
@media (max-width: 450px){
  .games_list{
    max-width:90%;
    
  }
}
.contact_text{
  padding-left: 10%;
  margin-bottom:0px;

}
.contact_desc{
  color:gray;
  font-size:35px;
  line-height:26px;
  margin-top:10px;
  padding-left:10%;
  padding-right: 10%;
}
.form_item{
  margin-left: 10%;
  min-width:300px;
  border-radius: 7px;
  min-height: 25px;
  box-shadow: 0px 0px 7px white;
}
.submit_buttom{
  padding: 5px 14px;
  min-width: 0px;
  background: rgb(226, 226, 226);
  font-family: cute font;
  font-size: 25px;
}
::-webkit-input-placeholder {
  font-family:'cute font', 'roboto';
  font-size:23px;
  color:rgb(47, 47, 47);
  padding-left:10px;
}
::-moz-placeholder {
  font-family:'cute font', 'roboto';
  font-size:23px;
  color:rgb(47, 47, 47);
  padding-left:10px;
}
:-ms-input-placeholder {
  font-family:'cute font', 'roboto';
  font-size:23px;
  color:rgb(47, 47, 47);
  padding-left:10px;
}
::placeholder {
  font-family:'cute font', 'roboto';
  font-size:23px;
  color:rgb(47, 47, 47);
  padding-left:10px;
}
.textarea{
  height:60px;
}
@media (min-width: 950px){
  .contact_container{
    width:50%;
    display:inline-block;
  }
  .contact_form_container{
    width: 49%;
    display: inline-block;
    vertical-align: middle;
  }
  .form_item{
    min-width:480px;
  }
  .contact_text_container{
    float:right;
    max-width:600px;
  }
}
